extends ../layout/index

block contenido
    main.container.mt-5
        .row    
            .col-md-5 
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, quod quisquam eaque, asperiores tempore assumenda ipsam minus veritatis repellat mollitia praesentium reiciendis. Omnis eaque vitae accusamus reprehenderit vel, perspiciatis nihil.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni officia inventore beatae omnis error veritatis cum, id, sunt optio dolorum eum dolore quasi nemo ipsa vel. Dolorem similique nemo voluptatem.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi possimus obcaecati omnis earum corrupti enim saepe odio, accusamus eligendi eaque iste ducimus? Praesentium distinctio perspiciatis, ad deleniti provident soluta beatae.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4 
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque placeat blanditiis at sed fugit, nihil suscipit sit pariatur alias assumenda autem porro. 
                .col-md-4 
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque placeat blanditiis at sed fugit, nihil suscipit sit pariatur alias assumenda autem porro. 
                .col-md-4 
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque placeat blanditiis at sed fugit, nihil suscipit sit pariatur alias assumenda autem porro. 


